ACTION=="change", SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_TYPE}=="Mains", TAG+="systemd", ENV{SYSTEMD_WANTS}+="elitebook-thermal-profile.service"
ACTION=="change", SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_TYPE}=="Battery", TAG+="systemd", ENV{SYSTEMD_WANTS}+="elitebook-thermal-profile.service"
